body {
    background-color: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
    /*color: #000;*/
    overflow-x: hidden;
    overflow-y: hidden;
}
@font-face {
    font-family: 'Cookit-Regular';
    src: url('/fonts/Cookit-Regular.ttf');
}
.temporalNavBar {
    height: 15vh;
    /*background-color: #39A0ED;*/
    /*background-color:#4472CA;*/
    /*background-color:#0099CC;*/
    background-color: #244F75;
    /*background-color:#000;*/

}
.navBarTitle
{
    font-family: 'Cookit-Regular';
    font-size: 10vh;
    color:#fff;
}
.container {
    /*margin-top: 100px;*/
}

.panel {
    /*background-color: #1b6d85;*/
    background-color: #fafafa;
    margin-top: 20px;
}

.accountsPanel {
    margin-right: 5vh;
    background-color: #fafafa;
}

.box {
    /*border-radius: 3px;*/

    /*border: #dfe8f1 solid 1px;*/

    /*background-color:  #92B4F4;*/
    /*background: #fff;*/
}


.totalBox, .account1Box, .account2Box {
    min-height: 20vh;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: #396083;*/
    background-color: #60BFBF;
    /*border: #476383 solid 1px;*/
    margin: 1vh;
    /*color: #fff;*/
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.totalBox
{
    margin-top: 0;
}
.account2Box
{
    margin-bottom: 0;
}
.accountTitle {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Cookit-Regular', serif;
}

.bigNumber {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Cookit-Regular', serif;
    font-size: 50px;
}

.accountsText {
    font-size: 11px;
}

.filtersBox {
    min-height: 10vh;
    /*border-bottom: #dfe8f1 solid 1px;*/
}
.bottomBorder
{
    /*border-bottom: #dfe8f1 solid 1px;*/
}
.transactionsPanel
{
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.transactionsTitle1
{
    min-height: 10vh;
    border-right: #dfe8f1 solid 1px;
    text-align: center;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    font-family: 'Cookit-Regular', serif;
}
.filtersTitle
{
    background-color: #F8BB44;
}

.checkBoxes, .transactionsTitle1 h4 {
    margin-top: 3.5vh;
}

.addTransactionBox {
    min-height: 7vh;
}

.transactionsTitle2 {
    min-height: 8vh;
    border-right: #dfe8f1 solid 1px;
    text-align: center;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding-top: 0px;
    font-family: 'Cookit-Regular', serif;
    text-transform: uppercase;
}
.addTransactionTitle
{
    background-color: #F24B4B;
}
.transactionsTitle2 h3
{
    margin-top: 15px;
}
.addTransactionField, .addTransactionBtn {
    margin-top: 3vh;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.littleSelectList
{
    padding-left: 0;
    padding-right: 0;
}
.checkbox-inline label,.dateFilter label
{
    /*font-family: 'Cookit-Regular', serif!important;*/
    /*font-size: 15px!important;*/
}
.addTransactionBtn {

}

.transactionsBox {
    height: 45vh;
    overflow: auto;
    padding: 0;
}
.transactionField
{
    /*border-right: #dfe8f1 solid 1px;*/
}
.transactionField,.transactionRow, .transactionField p
{
    height: 20px;
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
}

.dateField
{
    width: 2vw!important;
    text-align:center;
}
.descriptionField
{
    font-size: 13px;
    width: 15vw!important;
}
.accountField
{
    width: 1vw!important;
    text-align:center;
}
.ioField
{
    width: 1vw!important;
    text-align:center;
}
.amountField
{
    width: 2vw!important;
    text-align:center;
}
.summaryBox {
    min-height: 7vh;
}

.summaryBox h4 {
    margin-top: 2vh;
}
.summaryBoxTitle
{
    background-color: #AD5AB8;
}
.summaryTitle
{
    height: 8vh;
    border-right: #dfe8f1 solid 1px;
    text-align: center;
}
.summaryField
{
    height: 8vh;
    border-right: #dfe8f1 solid 1px;
    text-align: center;
}
.summaryField h4
{
    margin-top: 1vh!important;
    padding-top: 0;
    margin-bottom: 0.5vh;
    font-family: 'Cookit-Regular', serif;
    text-transform: uppercase;
}
.summaryField p
{
    font-family: 'Cookit-Regular', serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
#login-sign-in-link
{
    display: none;
}
.login-link-and-dropdown-list.login-form-sign-in #login-dropdown-list.accounts-dialog
{
    display: none;
}
.marginTop
{
    margin-top: 5vh;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-image: url('/images/back.jpg');
    width: 100%;
    height: 100%;

    /*-webkit-filter: blur(2px);*/
    /*-moz-filter: blur(2px);*/
    /*-o-filter: blur(2px);*/
    /*-ms-filter: blur(2px);*/
    filter: blur(2px);
    filter: grayscale(40%);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 2vw;
    margin-right: 20px;
    margin-top: 10vh;
    font-family: 'Roboto Condensed', sans-serif;
}
.loginBox
{
    margin-top: 2vh;
}
.loginBox h1{
    font-family: 'Cookit-Regular', serif;
    margin-top: 10px;
    color: #000;
    letter-spacing:2px;
}
.content input{
    margin-bottom: 10px;
    font-size: 16px;
}
.content .btn{
    margin-right: 5px;
}
.inspiringPhrase h1
{
    font-family: 'Cookit-Regular', serif;
    font-size: 12vh;
    color: #000;
    letter-spacing:2px;
}
.footer
{
    margin-top: 22vh;
    color: #000;
    margin-bottom: 2px;
    height: 15px!important;
}
.footer p
{
    margin: 0;
}
.copyRight
{
    font-size: 90%;

}
.copyRight a
{
    color: #244F75;
}