body {
    background-color: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
    /*color: #000;*/
}
@font-face {
    font-family: 'Cookit-Regular';
    src: url('/fonts/Cookit-Regular.ttf');
}
.temporalNavBar {
    min-height: 15vh;
    /*background-color: #39A0ED;*/
    /*background-color:#4472CA;*/
    /*background-color:#0099CC;*/
background-color: #244F75;
    /*background-color:#000;*/
    margin-bottom: 20px;
}

.container {
    /*margin-top: 100px;*/
}

.panel {
    /*background-color: #1b6d85;*/
    background-color: #fafafa;
}

.accountsPanel {
    margin-right: 5vh;
    background-color: #fafafa;
}

.box {
    /*border-radius: 3px;*/

    /*border: #dfe8f1 solid 1px;*/

    /*background-color:  #92B4F4;*/
    /*background: #fff;*/
}


.totalBox, .account1Box, .account2Box {
    min-height: 20vh;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: #396083;*/
    background-color: #60BFBF;
    /*border: #476383 solid 1px;*/
    margin: 1vh;
    /*color: #fff;*/
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.totalBox
{
    margin-top: 0;
}
.account2Box
{
    margin-bottom: 0;
}
.accountTitle {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Cookit-Regular', serif;
}

.bigNumber {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Cookit-Regular', serif;
    font-size: 50px;
}

.accountsText {
    font-size: 11px;
}

.filtersBox {
    min-height: 10vh;
    /*border-bottom: #dfe8f1 solid 1px;*/
}
.bottomBorder
{
    /*border-bottom: #dfe8f1 solid 1px;*/
}
.transactionsPanel
{
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.transactionsTitle1
{
    min-height: 10vh;
    border-right: #dfe8f1 solid 1px;
    text-align: center;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    font-family: 'Cookit-Regular', serif;
}
.filtersTitle
{
    background-color: #F8BB44;
}

.checkBoxes, .transactionsTitle1 h4 {
    margin-top: 3.5vh;
}

.addTransactionBox {
    min-height: 7vh;
}

.transactionsTitle2 {
    min-height: 8vh;
    border-right: #dfe8f1 solid 1px;
    text-align: center;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding-top: 0px;
    font-family: 'Cookit-Regular', serif;
    text-transform: uppercase;
}
.addTransactionTitle
{
    background-color: #F24B4B;
}
.transactionsTitle2 h3
{
    margin-top: 15px;
}
.addTransactionField, .addTransactionBtn {
    margin-top: 3vh;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.littleSelectList
{
    padding-left: 0;
    padding-right: 0;
}
.checkbox-inline label,.dateFilter label
{
    /*font-family: 'Cookit-Regular', serif!important;*/
    /*font-size: 15px!important;*/
}
.addTransactionBtn {

}

.transactionsBox {
    height: 45vh;
    overflow: auto;
    padding: 0;
}
.transactionField
{
    /*border-right: #dfe8f1 solid 1px;*/
}
.transactionField,.transactionRow, .transactionField p
{
    height: 20px;
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
}

.dateField
{
    width: 2vw!important;
    text-align:center;
}
.descriptionField
{
    font-size: 13px;
    width: 15vw!important;
}
.accountField
{
    width: 1vw!important;
    text-align:center;
}
.ioField
{
    width: 1vw!important;
    text-align:center;
}
.amountField
{
    width: 2vw!important;
    text-align:center;
}
.summaryBox {
    min-height: 7vh;
}

.summaryBox h4 {
    margin-top: 2vh;
}
.summaryBoxTitle
{
    background-color: #AD5AB8;
}
.summaryTitle
{
    height: 8vh;
    border-right: #dfe8f1 solid 1px;
    text-align: center;
}
.summaryField
{
    height: 8vh;
    border-right: #dfe8f1 solid 1px;
    text-align: center;
}
.summaryField h4
{
    margin-top: 1vh!important;
    padding-top: 0;
    margin-bottom: 0.5vh;
    font-family: 'Cookit-Regular', serif;
    text-transform: uppercase;
}
.summaryField p
{
    font-family: 'Cookit-Regular', serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
/*Table*/
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    /*background-color: #FEECEC!important;*/
    /*background-color: #fff;*/
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    /*background-color: #e74c3c!important;*/
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    /*background-color: #EAF8D7;*/
    /*background-color: #fff;*/
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    /*background-color: #27ae60;*/
}